<template name="home">
  <div class="ui page grid">
    <div class="column">
      <h1>Test Form</h1>
      {{#autoForm collection='Test' class='ui form' id='testForm' type='insert' validation='keyup'}}
        {{#with date}}
          {{> afQuickField type='xdatetime' formid='testForm' name='issued' format='MM/DD/YYYY'}}
          {{> afQuickField type='xdatetime' formid='testForm' name='expires' format='MM/DD/YYYY'}}
        {{/with}}
        <button type="submit" class="ui positive button">Save</button>
      {{/autoForm}}
    </div>
  </div>
</template>
